*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', coursive;
}

.container{
    background-color: black;
    color: white;
    min-height: 100vh;
    width: 100vw;
}

.background {
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
    margin-bottom: 10px;
}

/* Barra di ricerca */
.head{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.black{
    background-color: black;
}

/* Logo-top */
.logo{
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

select{
    background-color: white;
}

/* Right-top */
.search{
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

#input{
    height: 25px;
    width: 150px;
}

#input:focus{
    outline: none;
}

#bottone{
    padding:5px;
    margin-left: 10px;
    cursor: pointer;
}

.utentis .profile-photo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-left: 20px;
    background-color: red;
}


/* In riproduzione */
.look-this{
    display: flex;
    align-items: center;
    height: 550px;
}

.look-this-info{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.look-this-info img{
    width:35px;
    object-fit: contain;
}

.look-this-info h1{
    font-size: 50px;
    font-weight: 600;
}

.look-this-info h1,
.look-this-info h4,
.look-this-info p{
    padding-bottom: 10px;
}

/* .look-this-info h4::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f816";
} */

.play-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.play{
    height: 30px;
    width: 100px;
    background-color: grey;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 10px;
}

.small{
    display: none;
}
/* .look-this-info .play::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f04b";
} */

.grey{
    background-color: white;
    color: #f28400;
}

.volume{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}


i.fas.fa-volume-mute{
    display: none;
}



/* Actor list */
#bottone-attore-avengers{
    width:60px;
    height: 40px;
    cursor: pointer;
    background-color: grey;
    color:white;
    border-style: none;
}

#bottone-attore-lord,
#bottone-attore-batman,
#bottone-attore-civil{
    width:60px;
    height: 30px;
    cursor: pointer;
    color:white;
    border-style: none;
    border: 1px solid #f28400;
    background-color: black;
    margin-top: 5px;
}

.look-this-actor{
    width:800px;
    height: 300px;
    display: none;
}

.film-actor{
    width:900px;
    height: 170px;
    display: none;
    margin-top: 20px;
}

.container-actor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-actor-film{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.bottone{
    display: flex;
    justify-content: center;
}

.actor-list{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actor-list img{
    border: 1px solid #f28400;
}

.actor-list h3{
    font-size: 12px;
    margin-bottom: 5px;
}

.actor-list h4{
    font-size: 8px;
    margin-top: 5px;
}


/* Default film/telefilm */
.default-film{
    display: flex;
    width: 1300px;
    overflow-y: auto;
}

.default-series{
    display: flex;
    width: 1300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.default-film img,
.default-series img{
    height: 300px;
    width: 200px;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #f28400;
}


/* Lista film/telefilm*/
.listaa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.favourite{
    margin-top: 20px;
    font-weight: bold;
}

.title-search{
    display: none;
}

.container-film{
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    margin: 20px 0;
    margin-top: 5px;
}

.container-telefilm{
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}

.lista{
    height: 303px;
    width: 210px;
    border: 1px solid #f28400;
    margin: 8px;
}

.info{
    height: 300px;
    width: 200px;
    display: none;
    padding-left: 7px;
    padding-bottom: 5px;
    overflow-x: auto;
}

.active{
    display: block;
}

.noactive{
    display: none;
}

.info img{
    height: 30px;
    object-fit: contain;
    margin-bottom: 10px;
}

.lista h1{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.lista h3{
    font-size: 10px;
    font-size: lighter;
    text-align: center;
}

.lista h5{
    font-size: 10px;
    font-size: lighter;
}

.poster{
    height: 300px;
    width: 200px;
    object-fit: contain;
}

.flag{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.stars{
    display: flex;
    flex-direction: row;
}

.stars span{
    font-size: 15px;
    margin-bottom: 10px;
}

/* Footer */
footer{
    height: 120px;
    background-color: #f28400;
}

.foot{
    height: 120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    width:100px;
    margin-left: 50px;
}

.footer-logo img{
    width: 150px;
    object-fit: contain;
    background-color: black;
}

.icon{
    color: black;
    font-size: 25px;
    margin-right: 50px;
}

i.fab.fa-facebook,
i.fab.fa-instagram,
i.fab.fa-twitter,
i.fab.fa-youtube{
    color: black;
}

/* Heroflix scelta utenti */
.container-user-choice{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.logos img{
    width: 220px;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
    margin-top:200px;
}

.utenti{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementi{
    height: 400px;
    width: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elementi h1{
    font-size: 35px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 130px;
    width:130px;
    object-fit: contain;
    margin-right: 30px;
    margin-top:20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.utente.icon{
    height: 130px;
    width:130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.utente.icon i.fas.fa-plus-circle{
    height: 130px;
    font-size: 70px;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.orange{
    color: #f28400;
}


.image h5{
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 30px;
}

.border{
    border: 3px solid #f28400;
}

.text{
    color:#f28400;
}

.gestisci{
    height: 50px;
    width: 180px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.color-border{
    border-color: #f28400;
    color:#f28400;
}

i.fas.fa-star{
    color:#f28400;
}

/* Media screen */
@media screen and (max-width: 768px){

    /* Heroflix scelta utenti */
    .logos{
        margin-bottom: 90px;
    }
    .logo img{
        width: 100px;
        height: 40px;
        object-fit: contain;
    }

    .elementi h1{
        font-size: 20px;
    }

    .image img{
        height: 90px;
        width:90px;
        object-fit: contain;
        margin: 30px 8px 10px;
    }

    .image h5{
        margin-bottom: 30px;
    }

    .utente.icon{
        display: none;
    }

    /* Template */
    .head{
        height: 50px;
    }


    select{
        display: none;
    }

    #input{
        height: 25px;
        width: 80px;
    }

    #bottone{
        padding:5px;
        margin-left: 6px;
        cursor: pointer;
        width: 25px;
    }

    .utentis .profile-photo{
        height: 30px;
        width: 30px;
        object-fit: contain;
        margin-left: 15px;
    }

    .container-film{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-y: auto;
    }

    .container-telefilm{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-y: auto;
    }

    .lista{
        height: 303px;
        width: 203px;
        margin: 8px;
    }

    .info{
        height: 300px;
        width: 20px;
        display: none;
        padding-left: 7px;
        padding-bottom: 5px;
        overflow-x: auto;
    }

    .background{
        background-position: center;
    }

    .look-this{
        width: 100%;
        height:250px;
        align-items: flex-end;
    }

    .look-this-info img{
        width:20px;
    }

    .look-this-info h1{
        font-size: 20px;
        font-weight: 600;
    }

    .look-this-info h4,
    .look-this-info p{
        display: none;
    }

    .big{
        display: none;
    }

    .small{
        display: block;
        color: white;
        width: 100px;
    }

    .avengers-actor-list{
        display: none;
    }

    footer{
        height: 100px;
        background-color: #f28400;
    }

    .foot{
        height: 100px;
    }

    .footer-logo img{
        width: 120px;
    }

    .icon{
        font-size: 20px;
    }

    .default-film img,
    .default-series img{
        height: 200px;
        width: 120px;
        object-fit: cover;
        margin-top: 10px;
        margin-left: 8px;
        border: 1px solid #f28400;
    }
}
