*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', coursive;
}

.container{
    background-color: black;
    color: white;
    min-height: 100vh;
    width: 100vw;
}

.background {
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
}

/* Barra di ricerca */
.head{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo-top */
.logo{
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

select{
    background-color: white;
}

/* Right-top */
.search{
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

#input{
    height: 25px;
    width: 150px;
}

#bottone{
    padding:5px;
    margin-left: 10px;
    cursor: pointer;
}

.utentis .profile-photo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-left: 20px;
    background-color: red;
}


/* In riproduzione */
.look-this{
    display: flex;
    align-items: center;
    height: 480px;
}

.look-this-info{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.look-this-info img{
    width:35px;
    object-fit: contain;
}

.look-this-info h1{
    font-size: 50px;
    font-weight: 600;
}

.look-this-info h1,
.look-this-info h4,
.look-this-info p{
    padding-bottom: 10px;
}

/* .look-this-info h4::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f816";
} */

.play-info{
    display: flex;
    flex-direction: row;
}

.play{
    height: 30px;
    width: 100px;
    background-color: grey;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 10px;

}

/* .look-this-info .play::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f04b";
} */

.grey{
    background-color: white;
    color: black;
}

.look-this-img{
    width: 70%;
    height: 500px;
}

/* Default film/telefilm */
.default-film{
    display: flex;
    width: 1200px;
    overflow-y: auto;
}

.default-series{
    display: flex;
    width: 1200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.default-film img,
.default-series img{
    height: 300px;
    width: 200px;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border: 1px solid #f28400;
}


/* Lista film/telefilm*/
.listaa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.favourite{
    margin-top: 20px;
}

.container-film{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}

.container-telefilm{
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}

.lista{
    height: 303px;
    width: 210px;
    border: 1px solid #f28400;
    margin: 8px;
}

.info{
    height: 300px;
    width: 200px;
    display: none;
    padding-left: 7px;
}

.active{
    display: block;
}

.noactive{
    display: none;
}

.info img{
    height: 40px;
    object-fit: contain;
    margin-bottom: 20px;
}

.lista h1{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.lista h3{
    font-size: 10px;
    font-size: lighter;
}

.poster{
    height: 300px;
    width: 200px;
    object-fit: contain;
}

.flag{
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.stars{
    display: flex;
    flex-direction: row;
}

.stars span{
    font-size: 15px;
}

/* Heroflix scelta utenti */
.container-user-choice{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.logos img{
    width: 180px;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
}

.utenti{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementi{
    height: 400px;
    width: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.elementi h1{
    font-size: 35px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 130px;
    width:130px;
    object-fit: contain;
    margin: 20px 20px 10px;
    cursor: pointer;
}

.utente.icon{
    height: 130px;
    width:130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.utente.icon i.fas.fa-plus-circle{
    height: 130px;
    font-size: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.color{
    color: #f28400;
}


.image h5{
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.border{
    border: 3px solid #f28400;
}

.text{
    color:#f28400;
}

.gestisci{
    height: 50px;
    width: 180px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.color-border{
    border-color: #f28400;
    color:#f28400;
}

i.fas.fa-star{
    color:#f28400;
}

/* Media screen */
@media screen and (max-width: 768px){

    /* Heroflix scelta utenti */
    .logo img{
        width: 100px;
        height: 40px;
        object-fit: contain;
    }

    .elementi h1{
        font-size: 20px;
    }

    .image img{
        height: 90px;
        width:90px;
        object-fit: contain;
        margin: 30px 8px 10px;
    }

    .image h5{
        margin-bottom: 30px;
    }

    .utente.icon i.far.fa-plus-square{
        display: none;
    }


}
